Repository sharapov2701/posts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Добавить eslintConfigPrettier
  eslint.config.js
  src/components/AppFooter.vue
  src/components/PostList.vue
Due: eslint --fix

Поправить отступ
  src/auto-imports.d.ts
  src/layouts/default.vue
Due: eslint --fix

Добавить тестовые данные
  src/assets/data.json
  src/components/PostList.vue
  src/types/post.ts
Due: eslint --fix, prettier --write

Переместить компоненты в соответствующие директории
  src/components.d.ts
  src/components/app/Footer.vue
  src/components/post/List.vue
  vite.config.mts
Due: eslint --fix

Поправить отступ
  src/layouts/default.vue
Due: eslint --fix

Удалить футер
  src/components/app/Footer.vue
  src/layouts/default.vue
Due: eslint --fix

Реализовать post store
  src/components/post/List.vue
  src/constants/localStorage.ts
  src/stores/app.ts
  src/stores/post.ts
Due: eslint --fix

Изменить заголовок страницы
  index.html
  src/components/post/List.vue
Due: eslint --fix, prettier --write

Реализовать поиск по постам
  src/components/post/List.vue
Due: eslint --fix

Реализовать редактирование постов
  src/components.d.ts
  src/components/post/List.vue
  src/components/post/Post.vue
  src/stores/post.ts
Due: eslint --fix

Отформатировать код
  src/pages/index.vue
Due: eslint --fix

Поменять цвет тулбара
  src/components/post/List.vue
Due: eslint --fix

Сделать высоту текста поста автоматической
  src/components/post/Post.vue
Due: eslint --fix

Отображать список постов в обратном порядке
  src/components/post/List.vue
Due: eslint --fix

Добавить ключ на компонент поста для правильной отрисовки
  src/components/post/List.vue
Due: eslint --fix

Добавить hover и active эффект для поста
  src/components/post/Post.vue
Due: eslint --fix

Добавить иконки для кнопок
  src/components/post/Post.vue
Due: eslint --fix

Поправить проп
  src/components/post/Post.vue
Due: eslint --fix

Изменить дизайн поиска
  src/components/post/List.vue
Due: eslint --fix

Доработать верстку
  src/components/post/List.vue
  src/layouts/default.vue
Due: eslint --fix

Добавить текст кнопкам
  src/components/post/Post.vue
Due: eslint --fix

Реализовать удаление постов
  src/components.d.ts
  src/components/post/Deletion.vue
  src/components/post/Post.vue
  src/stores/post.ts
Due: eslint --fix

Отформатировать код
  src/components/post/List.vue
Due: eslint --fix

Реализовать добавление новых постов
  package-lock.json
  package.json
  src/components.d.ts
  src/components/post/Adding.vue
  src/components/post/List.vue
  src/stores/post.ts
Due: eslint --fix, prettier --write

Добавить отступы постам
  src/components/post/Post.vue
Due: eslint --fix

Поправить отступы
  src/components/post/List.vue
  src/components/post/Post.vue
Due: eslint --fix

Изменить стили кнопок
  src/components/post/Post.vue
Due: eslint --fix

Отформатировать код
  src/auto-imports.d.ts
Due: eslint --fix

Создать node.js.yml
  .github/workflows/node.js.yml
Due: none

Настроить compilerOptions
  tsconfig.app.json
Due: prettier --write

Исправить ошибки типизации
  src/auto-imports.d.ts
  src/components.d.ts
  src/components/post/List.vue
  src/components/post/Post.vue
  tsconfig.app.json
Due: eslint --fix, prettier --write

Изменить tsconfig
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  tsconfig.tsbuildinfo
Due: prettier --write

Обновить node.js.yml
  .github/workflows/node.js.yml
Due: none

Добавить директорию dist
  .gitignore
  dist/assets/default-DkQqEOZY.js
  dist/assets/index-DGHvmVw9.css
  dist/assets/index-DxFVudq6.js
  dist/assets/index-ZyfPs5xF.js
  dist/assets/index-jz-ybaUq.css
  dist/assets/materialdesignicons-webfont-B7mPwVP_.ttf
  dist/assets/materialdesignicons-webfont-CSr8KVlo.eot
  dist/assets/materialdesignicons-webfont-Dp5v-WZN.woff2
  dist/assets/materialdesignicons-webfont-PXm3-2wK.woff
  dist/favicon.ico
  dist/index.html
Due: eslint --fix, prettier --write

Отменить изменения
  .github/workflows/node.js.yml
  .gitignore
  dist/assets/default-DkQqEOZY.js
  dist/assets/index-DGHvmVw9.css
  dist/assets/index-DxFVudq6.js
  dist/assets/index-ZyfPs5xF.js
  dist/assets/index-jz-ybaUq.css
  dist/assets/materialdesignicons-webfont-B7mPwVP_.ttf
  dist/assets/materialdesignicons-webfont-CSr8KVlo.eot
  dist/assets/materialdesignicons-webfont-Dp5v-WZN.woff2
  dist/assets/materialdesignicons-webfont-PXm3-2wK.woff
  dist/favicon.ico
  dist/index.html
Due: eslint --fix, prettier --write

Настроить gh-pages
  package-lock.json
  package.json
  vite.config.mts
Due: eslint --fix, prettier --write

Создать main.yml
  .github/workflows/main.yml
Due: none

deploy: 2afdc358033f6c2d6f287df6a9e523a7deb0074f
  .nojekyll
  assets/default-DezHigMA.js
  assets/index-BF0xyMRz.js
  assets/index-DGHvmVw9.css
  assets/index-DSMouNMR.css
  assets/index-Z8oPqg22.js
  assets/materialdesignicons-webfont-B7mPwVP_.ttf
  assets/materialdesignicons-webfont-CSr8KVlo.eot
  assets/materialdesignicons-webfont-Dp5v-WZN.woff2
  assets/materialdesignicons-webfont-PXm3-2wK.woff
  favicon.ico
  index.html
Due: eslint --fix, prettier --write

Добавить автофокус при добавление поста
  src/components/post/Adding.vue
Due: eslint --fix

Path conditions:
  eslint --fix: ((((((((any of: *.vue) or (any of: *.js)) or (any of: *.jsx)) or (any of: *.cjs)) or (any of: *.mjs)) or (any of: *.ts)) or (any of: *.tsx)) or (any of: *.cts)) or (any of: *.mts)
  prettier --write: (((any of: *.css) or (any of: *.html)) or (any of: *.scss)) or (any of: *.json)
